web/WEB-INF/wsdl/localhost_8080/Hotel_Server/HotelService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="HotelService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/Hotel_Server/HotelService?xsd=1"/>
</xsd:schema>
</types>
<message name="insertBooking">
<part name="parameters" element="tns:insertBooking"/>
</message>
<message name="insertBookingResponse">
<part name="parameters" element="tns:insertBookingResponse"/>
</message>
<message name="getAllKamar">
<part name="parameters" element="tns:getAllKamar"/>
</message>
<message name="getAllKamarResponse">
<part name="parameters" element="tns:getAllKamarResponse"/>
</message>
<message name="insertKamar">
<part name="parameters" element="tns:insertKamar"/>
</message>
<message name="insertKamarResponse">
<part name="parameters" element="tns:insertKamarResponse"/>
</message>
<message name="deleteKamar">
<part name="parameters" element="tns:deleteKamar"/>
</message>
<message name="deleteKamarResponse">
<part name="parameters" element="tns:deleteKamarResponse"/>
</message>
<message name="getAllBooking">
<part name="parameters" element="tns:getAllBooking"/>
</message>
<message name="getAllBookingResponse">
<part name="parameters" element="tns:getAllBookingResponse"/>
</message>
<message name="deleteBooking">
<part name="parameters" element="tns:deleteBooking"/>
</message>
<message name="deleteBookingResponse">
<part name="parameters" element="tns:deleteBookingResponse"/>
</message>
<portType name="HotelService">
<operation name="insertBooking">
<input wsam:Action="http://service/HotelService/insertBookingRequest" message="tns:insertBooking"/>
<output wsam:Action="http://service/HotelService/insertBookingResponse" message="tns:insertBookingResponse"/>
</operation>
<operation name="getAllKamar">
<input wsam:Action="http://service/HotelService/getAllKamarRequest" message="tns:getAllKamar"/>
<output wsam:Action="http://service/HotelService/getAllKamarResponse" message="tns:getAllKamarResponse"/>
</operation>
<operation name="insertKamar">
<input wsam:Action="http://service/HotelService/insertKamarRequest" message="tns:insertKamar"/>
<output wsam:Action="http://service/HotelService/insertKamarResponse" message="tns:insertKamarResponse"/>
</operation>
<operation name="deleteKamar">
<input wsam:Action="http://service/HotelService/deleteKamarRequest" message="tns:deleteKamar"/>
<output wsam:Action="http://service/HotelService/deleteKamarResponse" message="tns:deleteKamarResponse"/>
</operation>
<operation name="getAllBooking">
<input wsam:Action="http://service/HotelService/getAllBookingRequest" message="tns:getAllBooking"/>
<output wsam:Action="http://service/HotelService/getAllBookingResponse" message="tns:getAllBookingResponse"/>
</operation>
<operation name="deleteBooking">
<input wsam:Action="http://service/HotelService/deleteBookingRequest" message="tns:deleteBooking"/>
<output wsam:Action="http://service/HotelService/deleteBookingResponse" message="tns:deleteBookingResponse"/>
</operation>
</portType>
<binding name="HotelServicePortBinding" type="tns:HotelService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllKamar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertKamar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteKamar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HotelService">
<port name="HotelServicePort" binding="tns:HotelServicePortBinding">
<soap:address location="http://localhost:8080/Hotel_Server/HotelService"/>
</port>
</service>
</definitions>